@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,800&family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --primary: #272a31;
  --secondary: #ec5242;
  --nutral: #d3d3d3;
  --text-color: #5b5b5b;
  --sans-font: "Kanit", "sans-serif";
  --serif-font: "Lato", "serif";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary);
}

body {
  font-size: 16px;
  font-family: var(--serif-font);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans-font);
  line-height: 1em;
}

h1 {
  font-size: 3rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
}

header #menu-toggler {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header #menu-toggler svg {
  width: 3rem;
  height: 3rem;
}

#hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1rem;
  background-color: #f7f7f7;
}

#hero h1,
#hero h2 {
  color: var(--secondary)
}

#hero h2 {
  order: -1;
  font-weight: 300;
}

#hero .description {
  border: 0.25rem solid white;
  background-color: #f7f7f7;
  padding: 1rem;
  font-weight: 600;
}

#hero h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

#hero .location {
  font-weight: 500;
  font-size: 1.1rem;
}

.section-heading {
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  padding-bottom: 1rem;
  color: var(--primary);
  text-align: center;
}

.section-heading::after {
  border-bottom: 2  px solid var(--secondary);
  position: absolute;
  height: 1px;
  width: 3rem;
  content: '';
  bottom: 0;
  inset-inline-start: 50%;
  margin-inline-start: -1.5rem;
}

#program {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary);
  color: var(--nutral);
  padding: 2rem 1rem;
  text-align: center;
}

#program .section-heading {
  color: white;
}

#program .items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#program .item {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: stretch;
  background-color: #fff1;
  padding: 1rem;
}

#program .item-icon {
  height: 3rem;
}

#program .item-icon svg {
  height: 100%;
  color: white;
}

#program .item-title {
  color: var(--secondary);
  flex-grow: 1;
  font-size: 1.5rem;
}

#program .item-description {
  color: white;
  flex-basis: 55%;
  font-weight: 500;
}

#program .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: var(--secondary);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  align-self: center;
}

#speakers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--primary);
  padding: 2rem 1rem;
}

#speakers .persons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#speakers .person {
  display: flex;
  gap: 1rem;
}

#speakers .person-graphic {
  position: relative;
}

#speakers .person-graphic::before {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 2rem;
  height: 2rem;
  content: ' ';
  border-top: 2px solid var(--nutral);
  border-inline-start: 2px solid var(--nutral);
}

#speakers .person img {
  width: 7rem;
  height: 7rem;
  background-color: var(--secondary);
  margin-top: 0.5rem;
  margin-inline-start: 0.5rem;
  flex-shrink: 0;
}

#speakers .person-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#speakers .person-name {
  font-size: 1.3rem;
  font-weight: 500;
}

#speakers .person-title {
  color: var(--secondary);
  padding-bottom: 0.75rem;
  position: relative;
}

#speakers .person-title::after {
  border-bottom: 2px solid var(--nutral);
  position: absolute;
  height: 1px;
  width: 1rem;
  content: '';
  bottom: 0;
  inset-inline-start: 0;
}

#speakers .person-bio {
  color: var(--primary);
  opacity: 0.8;
  font-size: 0.9rem;
}

#speakers .more {
  border: 1px solid var(--nutral);
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 0.5rem;
}

#speakers .more svg {
  height: 1.5rem;
  color: var(--secondary)
}
